
.grid-filled {
	width: 100%;
}

$max-width: 50em;

.grid {
	padding: $max-width / 100;
	margin: $max-width / 50;
	float: left;
	background-color: #F9F9F9;
}

$i: 1;
@while $i < 6 {
	.grid-#{$i} { 
	  width: $max-width / 5 * $i - 3 * $max-width / 50;  
	}
	.height-#{$i} {
	  height: $max-width / 5 * $i - 3 * $max-width / 50; 
	}
	
	$i: $i + 1;
}