.tabnav {
  border-bottom: 1px solid #CCCCCC;
  padding-left: 1em;
  
  &:after,
  &:before {
	display: table;
	content: " ";
	clear: both;
  }
  
  li {
    display: block;
	float: left;
	list-style-type: none;
	margin-bottom: 4px; /* .33em - 1px */
	padding-right: .5em;
	position: relative;
	
	a,
	a:active,
	a:visited,
	a:hover {
	color: #000;
	padding: .33em .5em;
	border: 1px solid #CCCCCC;
    border-radius: 5px 5px 0 0;
	  text-decoration: none;
	}
	
	a:hover {
	  color: red;
	}
	
	a.activetab {
	  border-bottom: 1px solid white;
	}
  }
}	