.grid-filled {
  width: 100%;
}

.grid {
  padding: 0.5em;
  margin: 1em;
  float: left;
  background-color: #fff;
}

.grid-1 {
  width: 7em;
}

.height-1 {
  height: 7em;
}

.grid-2 {
  width: 17em;
}

.height-2 {
  height: 17em;
}

.grid-3 {
  width: 27em;
}

.height-3 {
  height: 27em;
}

.grid-4 {
  width: 37em;
}

.height-4 {
  height: 37em;
}

.grid-5 {
  width: 47em;
}

.grid-6 {
  width: 57em;
}

.height-5 {
  height: 47em;
}
