body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: auto;
}

.vote {
  height: 40px;
  width: 40px;
  border: 1px solid #000;
  position: absolute;
}

/* TODO: Breakpoints */
#votecontainer {
  height: 450px;
  position: relative;
}

/*
#zeit-api-news a {
  color: #900;
  text-decoration: none;
}

#zeit-api-news a:hover {
  text-decoration: underline;
}

#zeit-api-news .zeit-snippet {
  font-size: 11px;
}
*/

#page {
  margin: auto;
  display: block;
  margin-top: 5em;
}

#side {
  float: left;
  display: inline-block;
}

#tooltip {
  position: absolute;
  letter-spacing: normal;
  word-spacing: normal;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: beige;
  padding: 5px;
  max-width: 140px;
  font-size: .85em;
  -webkit-box-shadow: 3px 3px 3px 3px #666;
  box-shadow: 3px 3px 3px 3px #666;
  z-index: 2;
}

@media only screen and (min-width: 900px) {
  #page {
    max-width: 64em;
  }

  header {
    height: 5.5em;
  }

}

.clearfix {
	clear: both;
}

.full-width {
	width: 100%;
}

td.vote {position: static;}

.fixed {
	position: fixed;
}

header {
  top: 0;
  background-color: #CCCCCC;
  color: #FFFFFF;
  text-align: center;
}

.debug {
	background-color: red;
	height: 20px;
	display: none;
}

canvas {
  overflow: hidden;
}

/* the performance of this solution is on par with assigning the class itself to all votes via .children().each()*/
/* TODO: Remove the redundancy with the background that's generated in bundesrat.js*/
.spd .vote {
  background-color: red;
}

.spd-cdu .vote {
  background-image: url(../../img/coalitions.png);
}

.cdu-spd .vote {
  background-image: url(../../img/coalitions.png);
  background-position: -40px 0px;
}

.spd-gruene .vote {
  background-image: url(../../img/coalitions.png);
  background-position: -80px 0px;
}

.gruene-spd	.vote {
  background-image: url(../../img/coalitions.png);
  background-position: -120px 0px;
}

.spd-linke .vote {
  background-image: url(../../img/coalitions.png);
  background-position: -160px 0px;
}

.spd-fdp .vote {
  background-image: url(../../img/coalitions.png);
  background-position: -440px 0px;
}

.cdu-fdp .vote {
  background-image: url(../../img/coalitions.png);
  background-position: -200px 0px;
}

.cdu-gruene .vote {
  background-image: url(../../img/coalitions.png);
  background-position: -400px 0px;
}

.csu-fdp .vote {
  background-image: url(../../img/coalitions.png);
  background-position: -240px 0px;
}

.spd-gruene-ssw	.vote {
  background-image: url(../../img/coalitions.png);
  background-position: -280px 0px;
}

.cdu-fdp-gruene	.vote {
  background-image: url(../../img/coalitions.png);
  background-position: -320px 0px;
}

.linke-spd-gruene .vote {
  background-image: url(../../img/coalitions.png);
  background-position: -480px 0px;
}

.cdu-pro-fdp .vote {
  background-image: url(../../img/coalitions.png);
  background-position: -360px 0px;
}

.cdu .vote {
  background-color: #000;
}

.csu .vote {
  background-color: #ADD8E6;
}

.gruene .vote {
  background-color: green;
}

.fdp .vote {
  background-color: #FF0;
}

.linke .vote {
  background-color: purple;
}

.ssw  .vote {
  background-color: #00008B;
}

.pro .vote {
  background-color: #4682B4;
}

.geschaeftsfuehrend {
  opacity: 0.7;
}

.minderheit {
  opacity: 0.7;
}

.highlighted {
  box-shadow: 7px 7px 5px #111;
  z-index: 5;
}

.text-center {
	text-align: center;
}

/* Position title at center as long we don't have actual menu items*/
nav.top-bar {
  text-align:center;
}

.top-bar .title-area {
  float: none;
}

/*h1 {*/
  /*margin-top: 0;*/
  /*padding-top: 1em;*/
  /*padding-bottom: 0.5em;*/
  /*text-align: center;*/
/*}*/

h3 {
	margin-bottom: 0.585em;
}

table {
  font-size: 1em;
  border: none;
  border-collapse: collapse;
}

thead {
  font-weight: bold;
}
/*#coalitiontable tbody tr:hover			{height: 38px; vertical-align: center; border-top: 1px solid black; border-bottom: 1px solid black;}
#coalitiontable tbody tr:hover .vote	{height: 38px; vertical-align: center;}*/
#coalitiontable .vote, #partytable .vote {
  height: 18px;
  overflow: hidden;
}

#partytable .vote {
  display: none;
}

#coalitiontable tr td:first-child {
  width: 120px;
}

tbody td:hover {
  background-color: #DDD;
}