.tabnav {
  border-bottom: 1px solid #CCCCCC;
  padding-left: 1em;
}

.tabnav:after,
.tabnav:before {
  display: table;
  content: " ";
  clear: both;
}

.tabnav li {
  display: block;
  float: left;
  list-style-type: none;
  margin-bottom: 4px;
  /* .33em - 1px */
  padding-right: .5em;
  position: relative;
}

.tabnav li a,
.tabnav li a:active,
.tabnav li a:visited,
.tabnav li a:hover {
  color: #999;
  padding: .33em .5em;
  /*border: 1px solid #CCCCCC;*/
  border: none;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
}

.tabnav li a:hover {
  color: red;
}

.tabnav li a.activetab {
  border: 1px solid #CCCCCC;
  border-bottom: none;
  color: #000;
}